* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Gabarito", sans-serif;
    padding: 25px;
}


.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    gap: 10px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.navbar__s1__title {
    color: violet;
}

.navbar__s2 {
    padding: 10px;
    border: 1px solid black;
    width: 60%;
    border-radius: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: transparent;
}

.navbar__s2 input {
    border: none;
    width: 100%;
    font-size: 16px;
    
    
}
.navbar__s2 input:focus{
    outline: none;
}
.navbar__s3{
display: flex;
gap: 10px;
align-items: center;
}
.navbar__s4{
    display: none;
}

.mylearning{
    position: relative;
    cursor: pointer;
}
.mylearning__popup{
    position: absolute;
    background-color: white;
    border: black 1px solid;
    width: 100px;
    top: 150%;
     padding: 10px;
     right: 0 ;
     display: none;
}
.mylearning:hover .mylearning__popup
{
    display: block;
}



.categories{
display: flex;
align-items: center;
justify-content: space-between;
padding: 10px;
border-bottom: black 1px solid;
}
.categories p{
    background-color: violet;
    padding: 10px;
    border-radius: 30px;
    display: flex;
    cursor: pointer;
    border: violet 1px solid;

}
.categories p:hover{
    background-color: transparent;
    color: black;
    transition: 1s;
    border: violet 1px solid;
}
.sale-image{
    position: relative;
}
.sale-image img{
    width: 100%;
}
.sale-image__offer{
   width: 35%;
   border: 1px black solid;
   background-color: white;
   position: absolute;
   padding: 15px;
   top: 10%;
   left: 10px;
   animation-name: zoom;
   animation-duration: 1s;
   opacity:0;
   animation-fill-mode: forwards;


}
@keyframes zoom{
    0%{transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
.recommended{
    padding: 10px;
}
.recommended__container{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
 
}
.course__card{
    flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;
    
}
.course__card img{
    width: 100%;
    border-radius: 10px;
}
.topics{
    margin-top: 10px;
    padding: 10px;
}
.topics__container{
    display: flex;
    gap: 10px ;
    margin-top: 10px;
    flex-wrap: wrap;
    
    
}
.topics__container p{
border: solid grey 1px;
flex-grow: 1;
flex-basis: 25%;
padding: 10px;
border-radius: 5px;

}
.topics__container p:hover{
    background-color: violet;
}


.popular{
    padding: 10px;
}
.popular__container{
    justify-content: space-between;
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
}
.flutter{
    padding: 30px;
    background-color: black;
    color: white;
}

.flutter1{
display: flex;
gap: 20px;
}
.flutter2{
    justify-content: space-between;
    display: flex;
    margin: 10px;
    align-items: center;
}
.flutter1 p{
    margin: 20px;
}

@media screen and (max-width:800px){
    body{
        font-size: 10px;


    }
    @media screen and (max-width:500px){
        .course__card{
            flex-basis: 40%;
        }
        .navbar__s3{
            display: none;
        }
        .navbar__s1__title{
            align-items: center;
            top: 10%;
        }
        .navbar__s4{
            display: block;    
        }
        



    }
}
@media screen and (max-width:400px){
    .categories{
        display: none;
    }
    .sale-image{
        justify-content: center;
    }
}